---
import Layout from "../layouts/layout.astro";

const members = [
    {
        name: "Walter Dietrich",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'walter.dietrich@gmx.ch',
        number: '079 656 07 76'
    },
    {
        name: "Monika Schärz",
        function: "Vizepräsidentin",
        tasks: [
            'Vertretung Burgerpräsident',
            'Alpschaft',
            'Allmend',
            'Verträge'
        ],
        email: 'm.schaerz@hotmail.de',
        number: '079 382 75 63'
    },
    {
        name: "Daniela Steuri",
        function: "Burgerrat",
        tasks: [
            'Bäche',
            'Weganlagen',
            'Deponie Lee',
            'Forst'
        ],
        email: 'daniela.steurikadel@gmx.net',
        number: ''
    },
    {
        name: "Justin Ceronio",
        function: "Burgerrat",
        tasks: [
            'Besondere Aufgaben'
        ],
        email: 'justinceronio@outlook.com',
        number: '076 815 11 15'
    },
    {
        name: "Patricia Stauffer",
        function: "Burgerschreiberin / Burgerkassierin",
        email: 'pasta@bluewin.ch',
        number: '079 422 85 14'
    },
];
---

<Layout>
    <div class="members-container p-8 md:p-16">
        <div class="members-header text-5xl text-gray-900 mb-8">
            <h1>Mitglieder</h1>
        </div>
        <div class="member-rows grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 w-full">
            {members.map((member) => (
                <div class="member text-sm flex flex-col">
                    <div class="coat-of-arms w-36 h-36 mb-4 mr-8 bg-gray-200 items-center justify-center"></div>
                    <div class="text-wrapper">
                        <h2 class="name text-lg mb-2">{member.name}</h2>
                    <h3 class="function font-bold mb-2">{member.function}</h3>
                    <ul class="list-disc pl-4 mb-4">
                        {member.tasks?.map((task) => (
                            <li>{task}</li>
                        ))}
                    </ul>
                    <span class="contacts">
                        {member.email} <br />
                        {member.number}
                    </span>
                    </div>
                </div>
            ))}
        </div>
        <div class="organisation-header lg:text-5xl text-gray-900 mt-8 lg:mt-16">
            <h1>Gesamtorganisation</h1>
        </div>
        <div class="organisation-container">
            <hr class="mt-6">
            <ul class="list-disc pl-4 py-4">
                <li>Burgergemeindeversammlung</li>
                <li>Rechnungsprüfungsorgan</li>
                <li>Verwaltung</li>
                <li>Regierungsstatthalteramt</li>
                <li>Regierungsrat – AGR</li>
            </ul>
            <hr>
            <ul class="list-disc pl-4 py-4">
                <li>Weggenossenschaft Rösti – Stutzwald, Därligen</li>
                <li>Weggenossenschaft Abendberg (Wilderswil, Därligen, Saxeten)</li>
            </ul>
            <hr>
            <ul class="list-disc pl-4 py-4">
                <li>Verband Bernischer Burgergemeinden- und Korporationen</li>
                <li>Kollektivmitglied Verband schweizerischer Burgergemeinden- und Korporationen</li>
            </ul>
            <hr>
            <ul class="list-disc pl-4 py-4">
                <li>Forstbetrieb Thunersee – Süd</li>
                Angeschlossen Burgergemeinde Därligen, Burgergemeinde Leissigen, Einwohnergemeinde Leissigen, Burgergemeinde Krattigen, Einwohnergemeinde Krattigen, Einwohnergemeinde Aeschi, Burgergemeinde Wimmis
                <li>Waldabteilung Alpen, Schlossgasse 6, 3752 Wimmis</li>
                <li>BAFU, Bundesamt für Umwelt</li>
            </ul>
            <hr>
            <ul class="list-disc pl-4 py-4">
                <li>Waldbesitzerverband Frutigland</li>
                <li>Angeschlossen Berner Holzförderungsfonds BHFF</li>
                <li>Gemeindeverband für die Erhaltung der Wälder in der Region Oberland Ost (GEWO) (Mitglied/Geldgeber sind die politischen Gemeinden altes Amt Interlaken. Die BGD erhält Beiträge an die Holzernte, Jungwuchspflege und an Weganlagen bei Schadenereignissen</li>
            </ul>
        </div>
    </div>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer components {
        .organisation-container  li {
            @apply py-2;
        }
    }
    
</style>
