---
import Layout from "../layouts/layout.astro";

const members = [
    {
        name: "Walter Dietrich",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'walter.dietrich@gmx.ch',
        number: '079 656 07 76'
    },
    {
        name: "Monika Schärz",
        function: "Vizepräsidentin",
        tasks: [
            'Vertretung Burgerpräsident',
            'Alpschaft',
            'Allmend',
            'Verträge'
        ],
        email: 'm.schaerz@hotmail.de',
        number: '079 382 75 63'
    },
    {
        name: "Yves Steuri",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'walter.dietrich@gmx.ch',
        number: '079 656 07 76'
    },
    {
        name: "Justin Ceronio",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'walter.dietrich@gmx.ch',
        number: '079 656 07 76'
    },
    {
        name: "Patricia Stauffer",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'walter.dietrich@gmx.ch',
        number: '079 656 07 76'
    },
];
---

<Layout>
    <div class="members-container p-8 md:p-16">
        <div class="members-header text-5xl text-gray-900 mb-8">
            <h1>Mitglieder</h1>
        </div>
        <div class="member-rows grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 w-full">
            {members.map((member) => (
                <div class="member text-sm flex flex-col">
                    <div class="coat-of-arms w-36 h-36 mb-4 mr-8 bg-gray-200 items-center justify-center"></div>
                    <div class="text-wrapper">
                        <h2 class="name text-lg mb-2">{member.name}</h2>
                    <h3 class="function font-bold mb-2">{member.function}</h3>
                    <ul class="list-disc pl-4 mb-4">
                        {member.tasks.map((task) => (
                            <li>{task}</li>
                        ))}
                    </ul>
                    <span class="contacts">
                        {member.email} <br />
                        {member.number}
                    </span>
                    </div>
                </div>
            ))}
        </div>
    </div>
</Layout>
